body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.black {
  height: 250px;
}

.recordStyle {
  margin-top: 10px;
}
.you-have {
  margin-top: 30px;
  margin-bottom: 10px;
}
.playBtn {
  font-size: 30px;
  width: 150px;
  height: 60px;
}
.alert {
  position: absolute;
  z-index: 999;
}
.btn {
  margin: 30px;
}
label, h1, h2, h3, h4, .btn {
  font-family: 'Passion One', cursive;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.top {
  color: #black;
  font-size: 50px;
  font-family: 'Passion One', cursive;
}
.yourScore {
  margin-top: 50px;
  color: #black;
  font-size: 50px;
  font-family: 'Passion One', cursive;
}

.clickStyle {
  color: #black;
  font-size: 50px;
  font-family: 'Passion One', cursive;
}
/* Page change */
.playPage-enter-active, .playPage-leave-active {
  transition: all .3s ease;
}
.playPage-enter, .playPage-leave-to {
  transform: translateY(10%);
  opacity: 0;
}


#playGroup {
  height: 400px;
}

/* appearing PRESS */
.press {
  font-size: 25px;
  width: 200px;
  height: 150px
}

/* appearing scoreBoard */
.scoreBoard-enter-active, .scoreBoard-leave-active {
  transition: all .6s ease;
}
.scoreBoard-enter, .scoreBoard-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

/* appearing SCORE */
.fade {
  width: 200px;
  height: 150px;
}
.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}
.fade-enter, .fade-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

/* appearing ALERT */
.showAlert-enter-active, .showAlert-leave-active {
  transition: all .3s;
}
.showAlert-enter, .showAlert-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}



.form-group {
  height: 70px;
}
