body {
  overflow-y:hidden;
}

.recordStyle {
  margin-top: 10px;
}
.you-have {
  margin-top: 30px;
  margin-bottom: 10px;
}
.playBtn {
  font-size: 30px;
  width: 150px;
  height: 60px;
}
.alert {
  position: absolute;
  z-index: 999;
}
.btn {
  margin: 30px;
}
label, h1, h2, h3, h4, .btn {
  font-family: 'Passion One', cursive;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.top {
  color: #black;
  font-size: 50px;
  font-family: 'Passion One', cursive;
}


.playPage-enter-active, .playPage-leave-active {
  transition: all .3s ease;
}

.playPage-enter, .playPage-leave-to {
  transform: translateX(100%);
  opacity: 0;
}


.playPage-LEAVE {
  width: 200px;
  height: 150px;
}
.playPage-LEAVE-enter-active, .playPage-LEAVE-leave-active {
  transition: all .3s ease;
}

.playPage-LEAVE-enter, .playPage-LEAVE-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}


/* appearing PRESS */
.press {
  width: 200px;
  height: 150px;
}
.press-enter-active, .press-leave-active {
  transition: all .3s ease;
}

.press-enter, .press-leave-to {
  opacity: 0;
}

/* appearing scoreBoard */
.scoreBoard-enter-active, .scoreBoard-leave-active {
  transition: all .3s ease;
}
.scoreBoard-enter, .scoreBoard-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

/* appearing SCORE */
.fade {
  width: 200px;
  height: 150px;
}
.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* appearing ALERT */

.form-group {
  height: 70px;
}
