<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
        <title>Game</title>
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">
        <link rel="stylesheet" href="1.css">
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-messaging.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
        <script src="https://unpkg.com/tween.js@16.3.4"></script>
        <script src="https://unpkg.com/color-js@1.0.3/color.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
        <link rel="stylesheet" href="1.css">
    </head>
    <body>
        <div class="wrapper container" id="main">
            <div class="col">
              <!-- alert -->
                <transition name="showAlert" mode="out-in">
                  <div v-if="alertAppeare" class="alert alert-danger col-12" role="alert">
                    <button @click="alertAppeare = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{errorMessage}}
                  </div>
                </transition>
              <!-- alert -->
              <transition name="playPage" mode="out-in">
                <div v-if="clickPage" key="firstPage" id="playGroup"  class="text-center">
                  <h1 v-if="!record" :style="{ color: CSSColor, transform: translate }" class="top text-center col-sm-12 you-have">{{nickName}}! You have only {{time/100.0}} seconds!</h1>
                  <h1 v-if="record" :style="{ color: CSSColor, transform: translate }" class="top text-center col-sm-12 you-have">TIMEOUT!</h1>
                  <button @click="restart" class="btn btn-lg btn-danger col-md-offset-5">RESTART!</button>
                  <transition name="fade" mode="out-in">
                    <div v-if="record" key="rec" class="black">
                      <h1 class="yourScore text-center col-sm-12 text-danger">YOUR SCORE:<br> {{this.score}}</h1>
                    </div>
                    <div v-if="!record" key="ckick" class="text-center">
                      <h2 class="clickStyle text-center col-sm-12">Clicks: {{score}}</h2>
                      <button @click="clickUp" aria-disabled="disablePress" class="btn btn-lg btn-primary mx-auto press">PRESS ME!</button>
                    </div>
                  </transition>
                </div>
              <!-- Play -->
                <div v-if="!clickPage" key="mainPage">
                  <div class="container text-center">
                    <h1 class="top you-have text-danger">Yo! Welcome to 5 seconds click challenge!</h1>
                    <input v-filter="'[a-zA-Z0-9]'" v-model="nickName" type="text" class="topInput mx-auto form-control col-3" placeholder="Your nick (english)">
                    <button @click="play" type="button" :disabled="disablePlay" class="playBtn btn btn-success">Play</button>
                  </div>
                </div>
              </transition>
            <!-- Play -->
            </div>
        <!-- Scoreboard -->
        <transition name="scoreBoard">
          <div v-if="showBoard" class="container col-6">
            <h1 class="scoreBoardLAbel text-center col-sm-12">EPIC SCOREBOARD</h1>
            <table class="table-bordered table-striped table">
              <thead class="thead-inverse">
                <tr>
                  <th scope="row">#</th>
                  <th scope="row">Nick</th>
                  <th scope="row">Score</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr v-for="(data, index) in scoreBoard">
                  <th scope="col-1 row">{{index+1}}</th>
                  <td class="col-1">{{data[0]}}</td>
                  <td class="col-1">{{data[1]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </transition>
        <!-- Scoreboard -->
        </div>
    </body>
    <script src="board.js"></script>
    <script src="main.js"></script>
</html>
